.margin-top--small {
	margin-top: 16px;
}

.margin-top--large {
	margin-top: 32px;
}

.text--centered {
	text-align: center;
}

.icon--large {
	height: 32px;
	width: 32px;
}

.icon-with-text {
	display: flex;
}

.icon-with-text > *:nth-child(2) {
	margin-left: 8px;
}

.icon-with-text > .icon--large + *:nth-child(2) {
	line-height: 32px;
}

.stats {
	border: 1px solid #CED4DA;
	border-radius: .25rem;
	padding: 32px;
}